version: '3.8'

services:
  web:
    image: quay.io/ansible/awx:latest
    container_name: awx_web
    depends_on:
      - redis
      - postgres
    ports:
      - "80:8052"
    hostname: awxweb
    user: root
    restart: unless-stopped
    volumes:
      - supervisor-socket:/var/run/supervisor
      - rsyslog-socket:/var/run/awx-rsyslog/
      - rsyslog-config:/var/lib/awx/rsyslog/
      - "./SECRET_KEY:/etc/awx/SECRET_KEY"
      - "./environment.sh:/etc/awx/conf.d/environment.sh"
      - "./credentials.py:/etc/awx/conf.d/credentials.py"
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
    environment:
      http_proxy: 
      https_proxy: 
      no_proxy: 

  task:
    image: quay.io/ansible/awx:latest
    container_name: awx_task
    depends_on:
      - redis
      - postgres
      - web
    command: /usr/bin/launch_awx_task.sh
    hostname: awx
    user: root
    restart: unless-stopped
    volumes:
      - supervisor-socket:/var/run/supervisor
      - rsyslog-socket:/var/run/awx-rsyslog/
      - rsyslog-config:/var/lib/awx/rsyslog/
      - "./SECRET_KEY:/etc/awx/SECRET_KEY"
      - "./environment.sh:/etc/awx/conf.d/environment.sh"
      - "./credentials.py:/etc/awx/conf.d/credentials.py"
    environment:
      http_proxy: 
      https_proxy: 
      no_proxy: 
      SUPERVISOR_WEB_CONFIG_PATH: '/etc/supervisord.conf'

  redis:
    image: redis
    container_name: awx_redis
    restart: unless-stopped
    environment:
      http_proxy: 
      https_proxy: 
      no_proxy: 

  postgres:
    image: postgres:13
    container_name: awx_postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/pgdata:Z
    environment:
      POSTGRES_USER: awx
      POSTGRES_PASSWORD: awxpass
      POSTGRES_DB: awx
      PGDATA: /var/lib/postgresql/data/pgdata
      http_proxy: 
      https_proxy: 
      no_proxy: 

volumes:
  supervisor-socket:
  rsyslog-socket:
  rsyslog-config:
  postgres_data: