# Custom AWX Operator Configuration

replicaCount: 1

image:
  repository: quay.io/ansible/awx-operator 
  pullPolicy: IfNotPresent
  tag: "2.19.1"

serviceAccount:
  create: true
  annotations:
    kubernetes.io/managed-by: "helm"
  name: "awx-operator"

# Security Context
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  capabilities:
    drop:
    - ALL

# Resource Limits
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}